{% load humanize %}
{% load i18n %}

<div class="panel panel-default project clearfix">
<a href=" {% url 'reparation' reparation.pk %}">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-wrench"></span>
                {% trans 'reparation  ' %} {{ reparation.pk }} : {{ reparation.item }}



            </h3>
            <div class="pull-right"><img src="{{ STATIC_URL }}images/fix.png" class="client_project_logo" width="150" height="100"></div>
        </div>

</a>
        <div>




                <div class="info">
                <h5><span class="glyphicon glyphicon-user"></span>{% trans 'Client:' %}
                    <span>{{ reparation.client }}</span></h5>

                <h5><span class="glyphicon glyphicon-book"></span>{% trans 'Description:' %}
                    <span>{{ reparation.description }}</span></h5>



            </div>
        </div>


    <div class="project-user">


        <h5><span class="glyphicon glyphicon-time"></span>{% trans 'started:' %}{{ reparation.date_debut|naturaltime }} by <b>{{ reparation.add_user }}</b>
 </h5>

    </div>
</div>





