{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %} Téléphones{% endblock %}
{% block head %}
<link href="{{ STATIC_URL }}css/vulns.css" rel="stylesheet">
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dataTables.tableTools.css">
<!-- DataTables-->
<script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}js/dataTables.bootstrap.js"></script>
<script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}js/dataTables.tableTools.js"></script>
{% endblock head %}
{% block main %}

<ol class="breadcrumb">
        <li>{% trans 'Téléphones Portables' %}</li>
        <li>{% trans 'Vendre' %}</li>
        <li class="active">{{ vendre.type }}  </li>

</ol>

<br><br>

<div class="row">
    <div class="col-md-10 col-sm-offset-1 ">
        <section >

                <div class="table-responsive">
                    <table id="informatique" class="table table-bordered  table-hover table-condensed " >
                        <thead>
                            <tr bgcolor="#ADA5A5">
<th></th>
                                <th>{% trans 'Ref' %}</th>
                                <th>{% trans 'Item' %}</th>
                                                {% if perms.reports %}
    <th>{% trans ' Prix de gros' %}</th>
                 {% endif %}
                                <th>{% trans ' Prix de Vendre(Unite)' %}</th>
                                <th>{% trans ' Quantité' %}</th>
                                <th>{% trans 'Vende par' %}</th>
                                <th>{% trans 'date' %}</th>
                                <th>{% trans 'Note' %}</th>



                            </tr>
                        </thead>
                        <tbody>
                            <tr>
<td>
   {% if vendre.image %}
 <img class="media-object" src="{{ vendre.image.url}}" width="80" height="80">

 {% else  %}

 <img src="{{ STATIC_URL }}images/iphone.jpg" width="80" height="80">


 {% endif %}
</td>

                                <td> {{ vendre.id }}</td>



                                <td class="info"><a href="{% url 'portable' vendre.port.id %}" > {{ vendre.item }}</td>

                                                {% if perms.reports %}
   <td class="danger"> {{ vendre.prix_de_gros }}DT</td>
                 {% endif %}
                                <td class="danger"> {{ vendre.prix_de_vendre }}TD</td>
                                <td class="warning"> {{ vendre.quantite }}</td>
                                <td class="info"> {{ vendre.user }}</td>
                                <td> {{ vendre.date }}</td>
                                <td class="warning"> {{ vendre.note|default:'none' }}</td>







                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>


<script>
        $(document).ready(function () {
            $('#informatique').DataTable(
                    {

        });
    </script>

    {% endblock main %}
